.main{
    padding:20px;
    background-color: #16DB93;
    border-radius: 20px;
    width: 400px;
    margin: 20px;
}

.input{
    text-align: center;
    border: none;
    color: white;
    background: none;
    font-size:30px; 
}

.input:focus{
    background: none;
    outline: none;
    border-bottom: 4px solid white;
}

.input::placeholder{
    color:white
}